.d6{
    font-size: 80px;
    width: 160px;
    height: 160px;
    margin: 80px auto;
    transform-style: preserve-3d;
    perspective: 100%;
    /* animation: move-origin infinite 4s; */
    animation: spin 1 3s;
    transform: rotate3d(3,1,0.09,15deg);
   
   
}

.side{
    position: absolute ;
    width: 2em;
    height: 2em;

    background: grey;
    border: 3px solid rgba(0, 0, 0, 0.129);

    color: white;
    text-align: center;
    line-height: 2em;
    
}

.d6_1{
    transform: rotateX(0deg) translateZ(80px);
}
.d6_2{
    transform: rotateX(90deg) translateZ(80px);
}
.d6_3{
    transform: rotateY(90deg) translateZ(80px);
}
.d6_4{
    transform: rotateY(-90deg) translateZ(80px);
}
.d6_5{
    transform: rotateX(-90deg) translateZ(80px);
}
.d6_6{
    transform: rotateY(-180deg) translateZ(80px);
}

@keyframes move-origin {
    0% {perspective-origin: 0% 0%;}
    25% {perspective-origin: 100% 0%;}
    50% {perspective-origin: 100% 100%;}
    75% {perspective-origin: 0% 100%;}
    100% {perspective-origin: 0% 0%;}
}

.d6_container{
    display: flex;
    gap: 100px;
}

@keyframes spin {
   0% {transform: rotate3d(0);}
   100% {transform: rotate3d(3,1,0.09,1815deg);}
}